* {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 0px;
    height: 25px;
    width: 120px;
    margin-left: 2px;
}