* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background: #7dc2ad; */
    background-image: url("../sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#title {
    text-align: center;
    color: #E8A87C;
}

fieldset {
    height: 100px;
    border: 1px solid#E8A87C;
}

.radioButtons span {
    margin: 0 45px 0 45px;
}

.radioButtons input {
    display: inline;
    margin: 25px  10px ;
}

label {
    display: block;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

input {
    display: block;
    margin: auto;
}

textarea {
    display: block;
    margin: auto;
}
select {
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    border: 2px solid #E8A87C;
    width: 25%;
    height: 3em;
}

button:hover {
    background-color: skyblue;
    border: 2px solid blue;
}

.border {
    box-shadow: 0 3px 20px 0 #d2908b, 0 8px 22px 0 black;
}

.journal {
    border: 3px solid red;
    margin-bottom: 1em;
}

#journal-container {
    padding: 0 10em;
}

.journal h1 {
    margin-left: 1em;
}


